@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Press+Start+2P&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
	background-color: #020127;
color: white;
}



header{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.header{
    color: white;
    height: 3em;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}





.main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.imgtoascii, .vidtoascii{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


pre{
    width: 707px;
    height: 750px;
    border: 2px dotted;
   
}

#video-output, #image-output {
    width: 0px;
    height: 0px;
}

input[type='file'] {
    color: transparent;
    width: 220px;
  }
  
  input[type=file]::file-selector-button {
    font-family: "Press Start 2P", system-ui;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  input[type=file]::file-selector-button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }


@keyframes border-dance {
    0% {
      background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
    }
    100% {
      background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
    }
  }