.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
}

.revert{
    flex-direction: row-reverse;
}

.gallery .left {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0.5em;

}
.gallery .left img{
    height: 290px;
}

.gallery .left, .gallery .right {
    max-width: 590px;
}
.gallery .left img, .gallery .right img {
    width: 100%;
}

