

header{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.header{
    color: white;
    height: 3em;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header >*{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

